<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>First App</title>
</head>
<body>

    <%- include('pages/header') %>
     
    <!-- a chjamada para script.js foi colocada aqui para que possa ser vista antes da criacao da tabela presente no arquivo cadastro.ejs. Assim a funcao update() poderá ser considerada declarada antes de chegar no código presente em cadastro.ejs. -->
    <main>
        <div class="container">
            <%- body %>
        </div>

    </main>
    
    <footer>
        <div class="d-flex">

            <div class="p-2 bg-info flex-grow-1 small text-white bg-dark">
                <!-- <i>Copyleft</i> Mateus M. Aquino - all rights reserved.   Página sob licença <a class="text-light" href="https://www.gnu.org/licenses/gpl-3.0.txt">Gnu Public License version 3.0.</a> -->
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>