body {
    font-family: "Montserrat", sans-serif;
}

.show {
    display: inline-flexbox;
}

.hidden {
    display: none;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#marca {
    color: #ffc20f;
    font-weight: 600;
    font-size: 2rem;
}

#menu {
    display: none;
}

@media (max-width: 580px) {
    #marca {
        display: none;
    }
    
    #menu {
        display: inline;
    }

    .main {
        width: 100%;
    }

    .container {
        width: 90%;
    }
}

.table {
    width: 100%;
}

input {
    width: 100%;
}

.main {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #e5e5e5;
}

#color-link {
    color: #ffc20f;
    padding-left: 40px;
}

.nav-link {
    padding-left: 40px;
}

.caixa {
    width: 100%;
    margin-top: 50px;
    background: #fff5d1;
    border-radius: 10px;
    margin-bottom: 50px;
}

.head {
    background-color: #ffc20f;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    border-radius: 10px 10px 0px 0px;
}

.head p {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.caixa-tabela {
    height: 90%;
}

#cadastrar-novo {
    width: 100%;
    margin-top: 50px;
}

.centralizar {
    text-align: center;
}

.form-group {
    width: 100%;
}

.cor-btn-add {
    background-color: #28a745;
    border-radius: 5px;
    border-color: #28a745;
}

.cor-btn-add:hover {
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.cor-btn-add:focus {
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.modal-header {
    background-color: #28a745;
}

.cor-btn-cadastrar {
    background-color: #28a745;
    border-radius: 5px;
    border-color: #28a745;
}

.cor-btn-cadastrar:hover {
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.fa-pen {
    color: #6b439b;
}

.btn-atualizar {
    background-color: #6b439b;
    color: #ffff;
    border-radius: 5px;
    border-color: #6b439b;
}

.fa-trash-alt {
    color: #ee1b24;
}

.form-group-idade-altura-votou {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 0 auto;
}

.form-group-idade-altura-votou input{
   width:90%;
}

.form-group-idade,
.form-group-altura,
.form-group-votou {
    width: 25%;
}

/* css do home e about */
#home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-content {
    font-size: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
}

#sub-titulo {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 25px;
}

#about {
    min-height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: first baseline;
}

#about-content {
    display: block;
}
