body{
    font-family: 'Montserrat', sans-serif;
}

.show{
    display:inline-flexbox;
}

.hidden{
    display:none;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#marca{
    color:#FFC20F;
    font-weight: 600;
    font-size: 2rem;
}

#menu{
    display:none;
}

@media (max-width: 580px){
    #marca{
        display: none;
    }
    #menu{
        display: inline;
    }
}

.table{
    width: 100%;
}

input{
    width: 100%;
}

.main{
    min-height:100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #E5E5E5;;
}

#color-link{
    color: #FFC20F;
    padding-left: 40px;
}

.nav-link{
    padding-left: 40px;
}

.caixa{
    /* height: 70%; */
    width: 100%;
    margin-top: 50px;
    background: #FFF5D1;
    border-radius: 10px;
    margin-bottom: 50px;
}

.head{
    background-color: #FFC20F;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    border-radius: 10px 10px 0px 0px;
}

.head p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.caixa-tabela{
    height: 90%;
}

#cadastrar-novo{
    width: 100%;
    margin-top: 50px;
}

.centralizar{
    text-align: center;
}

.form-group{
    width: 100%;
}

.cor-btn-add{
    background-color: #28A745;
    border-radius: 5px;
    border-color: #28A745;
}

.cor-btn-add:hover {
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.cor-btn-add:focus {
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.modal-header{
    background-color: #28A745;
}

.modal-body{
    /* background-color: #C8F4D2;  */
}

.cor-btn-cadastrar{
    background-color: #28A745;
    border-radius: 5px;
    border-color: #28A745;
}

.cor-btn-cadastrar:hover{
    background-color: rgb(47, 121, 64);
    border: rgb(47, 121, 64);
}

.fa-pen{
    /* color: #0154A4; */
    color: #6B439B;
}

.btn-atualizar{
    background-color: #6B439B;
    color: #ffff;
    border-radius: 5px;
    border-color: #6B439B;
}

.fa-trash-alt{
    color: #EE1B24;
}

.form-group-idade-altura-votou{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-group-idade, .form-group-altura, .form-group-votou{
    width: 25%;
}
/* .modal{
    border-radius: 50px;
} */

/* css do home e about */
#home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-content{
    /* width: 60%; */
    font-size: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
}

#sub-titulo{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 25px;
    /* width: 70%; */
}

/* css do about */
#about{
    min-height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content:first baseline;
}

#about-content{
    display: block;
}