<%- contentFor( 'body') %>

<div id="about">
    <div id="about-content">
        <p>Wellington Wagner F. Sarmento <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
        <p>Universidade Federal do Ceará</p>
        <p>O código desta aplicação está sob licença  <a href="https://github.com/wwagner33/first-app2/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
        <p>Ocódigo desta aplicação encontra-se no endereço <a href="https://github.com/wwagner33/first-app2" target="_blank" rel="noopener noreferrer">https://github.com/wwagner33/first-app2</a></p>
    </div>
</div>