<%- contentFor( 'body') %>

<div id="home">
    <div id="home-content">
        <p id="titulo"><strong> Aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</strong></p>
        <p id="sub-titulo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae eum deserunt autem modi ipsam quibusdam? Deserunt tempore eius veritatis quasi quaerat harum eligendi id nisi beatae doloremque alias, iure rerum?</p>
        <p style="text-indent: 2em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ipsum incidunt ipsa facilis dicta nulla labore eveniet magni voluptas mollitia ratione, debitis quibusdam excepturi molestiae accusantium placeat? Inventore, laudantium sunt.
        Ratione architecto corporis excepturi sunt error dicta numquam cum repellendus maxime necessitatibus, obcaecati nesciunt exercitationem iste quae illum ipsum libero omnis dolores aliquam cupiditate labore eveniet quas dolore! Assumenda, alias?
        Necessitatibus quis amet adipisci illo dolorem repudiandae. Odit accusamus aliquid magnam eaque. Rerum eveniet, facere provident quibusdam quos vel dolorem error! Atque natus non magnam animi. Asperiores itaque quam incidunt!
        Quibusdam consequatur qui tempore fuga odit. Consequuntur illo vitae autem voluptates ipsum. Praesentium repudiandae deleniti ipsa fugit laudantium magni fugiat consequatur nulla, enim, eveniet mollitia, quibusdam quae modi necessitatibus eum.
        Saepe odio suscipit, temporibus nihil pariatur, nemo aspernatur dolorum magni harum fuga totam hic optio odit veniam vitae maiores! Sit eius recusandae suscipit laborum veritatis veniam, corrupti dicta laudantium neque.
        Sint, earum aspernatur natus magnam dolor velit necessitatibus eum. A eius aut asperiores explicabo velit sapiente minima culpa iure exercitationem, autem ipsam illo nobis modi molestias hic laborum unde aspernatur.</p>
    </div>
</div>